
.idea/.idea.2024AugMicroserviceBootcamp/.idea/aws.xml
.idea/.idea.2024AugMicroserviceBootcamp/.idea/encodings.xml
.idea/.idea.2024AugMicroserviceBootcamp/.idea/indexLayout.xml
.idea/.idea.2024AugMicroserviceBootcamp/.idea/vcs.xml
.vs/2024AugMicroserviceBootcamp/DesignTimeBuild/.dtbcache.v2
.vs/2024AugMicroserviceBootcamp/FileContentIndex/2320e940-98b1-462d-8512-310e0f3ab033.vsidx
.vs/2024AugMicroserviceBootcamp/FileContentIndex/4c0bbb5c-eac9-4780-abb9-c28fe43911c2.vsidx
.vs/2024AugMicroserviceBootcamp/FileContentIndex/4c6b7fb0-4c04-4586-89ca-f5cb8632f65e.vsidx
.vs/2024AugMicroserviceBootcamp/FileContentIndex/ba9bc7e0-8464-47ae-98e5-7cec63f951e8.vsidx
.vs/2024AugMicroserviceBootcamp/FileContentIndex/cef7a6f0-188a-4f56-a91a-b2ac9df28c86.vsidx
.vs/2024AugMicroserviceBootcamp/v17/.futdcache.v2
.vs/2024AugMicroserviceBootcamp/v17/.suo
